spring:
  application:
    name: sko-backend

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/sko}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

